# Ignore Visual Studio Code settings
.vscode/

# Ignore build output and intermediate files
bin/
obj/

# Ignore user-specific files
*.user
*.Studio
*.userosscache
*.sln.docstates

# Ignore logs and temporary files
*.log
*.tmp

# Ignore MacOS system files
.DS_Store